<app-back-button></app-back-button>
<ng-container *ngIf="variants$ | async as productVariants">
  <app-image-slider
    [sliders]="productVariants[selectedIndex].productVariantImages"
    [sliderHeight]="'22rem'"
    [intervalBySeconds]="0"
  >
  </app-image-slider>
  <div class="price-section">
    <div class="now-price">
      {{ productVariants[selectedIndex].price | currency }}
    </div>
    <div class="list-price">
      {{ productVariants[selectedIndex].listPrice | currency }}
    </div>
    <div class="sales-count">
      {{ productVariants[selectedIndex].product.priceDesc }}
    </div>
    <div class="title">
      {{ productVariants[selectedIndex].name }}
    </div>
    <div class="coupon">
      <span
        appTag
        [tagRadius]="'5px'"
        [tagPadding]="'2px 10px'"
        [tagSize]="'1rem'"
        [tagBgColor]="'#e02f29'"
        [tagColor]="'#fff'"
        >Cash Reward</span
      >
      <span class="desc">get $2 off every $20 purchase</span>
    </div>
    <div class="guarantee">
      <span>Free Ship</span>
      <span>•</span>
      <span>Refundable</span>
      <span>•</span>
      <span>Quality Warrenty</span>
    </div>
    <app-group-short-list class="group-short-list"></app-group-short-list>
  </div>
  <div class="toolbar">
    <div class="icon-button">
      <img src="/assets/icons/more.png" alt="" />
      <div>More</div>
    </div>
    <div class="icon-button">
      <img src="/assets/icons/favorite.png" alt="" />
      <div>Cart</div>
    </div>
    <div class="icon-button">
      <img src="/assets/icons/customer-service.png" alt="" />
      <div>Service</div>
    </div>
    <div class="direct-buy" (click)="handleDirectBuy(productVariants)">
      <div>
        {{ productVariants[selectedIndex].listPrice | currency }}
      </div>
      <div>buy directly</div>
    </div>
    <div class="group-buy" (click)="handleGroupBuy(productVariants)">
      <div>{{ productVariants[selectedIndex].price | currency }}</div>
      <div>group buy</div>
    </div>
  </div>
</ng-container>